@model IEnumerable<FORO_D.Models.Entrada>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Routing
@{
    ViewData["Title"] = "Entradas Creadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var utilities = new FORO_D.Helpers.Utilities(new HttpContextAccessor());
    var urlHelper = Context.RequestServices.GetService(typeof(IUrlHelperFactory)) as IUrlHelperFactory;
    int UsuarioId = 0;
    if (User.Claims.Any())
    {
        UsuarioId = Int32.Parse(User.Claims.First().Value);
    }
}

<h1 class="btn-primary text-center text-white">Entradas</h1>

<p>
    @if (User.IsInRole("Miembro"))
    {
        <a class=" btn btn-success text-white" asp-action="Create">Crear Nueva Entrada</a>
    }
</p>


<table class="table">
    <thead class="alert-secondary text-black-50">
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <div class="card mb-3">
                @Html.Raw(utilities.RenderizarEntrada(item, UsuarioId, urlHelper.GetUrlHelper(ViewContext)))
            </div>
        }
    </tbody>
</table>
<p class="">Se encontraron: @Model.Count() Entradas en esta categoría</p>
